.hero-copy {
  background: linear-gradient(
    90deg,
    rgba(83, 134, 228, 1) 0%,
    rgba(146, 1, 140, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: transparent;
  color: #000;
}
