.timeline-container {
  left: calc(50vw - 132px);

  @media screen and (min-width: 768px) {
    left: 120px;
  }
}

.timeline {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: auto auto;
  transition: left 0.6s ease-out;
}

.timeline-bar {
  left: 100px;
  width: 1000px;
  top: 50%;
  transform: translateY(-50%);
}
